<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="mb-3">
            <label for="emailFormControlInput" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailFormControlInput" placeholder="name@example.com" />
        </div>
        <div class="mb-3">
            <label for="nameFormControlInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameFormControlInput" placeholder="name@example.com" />
        </div>
        <div class="mb-3">
            <label for="citiFormControlInput" class="form-label">Citi</label>
            <input type="email" class="form-control" id="citiFormControlInput" placeholder="name@example.com" />
        </div>
    </body>
</html>
